@media(max-width:1160px){
    .p-text{
        flex-direction: row ;
        column-gap: 30px;
    }
    .text-div{
        width: 100%;
    }
    .image-div{
        background-image: url(https://cdnb.artstation.com/p/assets/images/images/017/131/349/large/kyle-evans-parlor-1.jpg?1554758624);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        max-width: 900px;
        width: 90%;
        height: 500px;
        margin: 0 auto;
    }
}
@media(max-width:1024px){
    .studio-text{
        padding: 50px 50px;
    }

}
@media(max-width:744px){
    .header-div{
        justify-content: center;
    }
    .p-text{
        flex-direction: column;
    }
    .grid-container{
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }
    .tattoo-wraper,
    .piercing-wraper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .phot,
    .prc{
        max-width: 600px;
        width: 100%;
        height: 400px;
    }
    .studio-text{
        flex-direction: column;
        row-gap: 30px;
    }
    .cont01{
        flex-direction: column;
       justify-content: center;
    }
}
@media(max-width:690px){
    .cont-decor{
        margin-top: 190px;
    }
    .cont-decor{
        height: 300px;
    }
}
@media(max-width:550px){
    .header-div{
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 0;
    }
    .bar{
        display: block;
        position: fixed;
        top: 55px;
        right: 15px;
        padding-left: 15px;
    }
    .nav-item{
        display: none;
    }
    .nav-item.active{
        display: block;
        display: flex;
        flex-direction: column;
    }
    .ul-item{
        flex-direction: column;
        row-gap: 15px;
        padding-bottom: 15px;
    }
    .image-div{
        background-image: url(../img/chair.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        max-width: 500px;
        width: 90%;
        height: 500px;
    }
    .wraper,
    .tattoos,
    .faq-wraper,
    .cont-decor,
    .wraper02{
        margin-top: 150px;
    }
    .wraper02 h3{
        font-size: 40px;
    }


}
@media(max-width:450px){
    .div01 h3{
        font-size: 50px;
    }
    .studio-text h2{
        font-size: 50px;
    }
}
@media(max-width:400px){
    .header-div{
        justify-content: space-between;
       flex-wrap: nowrap;
    }
    .logo-div{
        column-gap: 5px;
    }
    .div01 h3{
        font-size: 45px;
    }
    .forservices{
        font-size: 50px;
    }
    .tattoo-div h4,
    .piercing-div h4,
    .story-div h4{
        font-size: 35px;
    }
    .phot,
    .prc{
        height: 300px;
    }
    .faq-box h3{
        font-size: 30px;
    }
    .days,
    .hours,
    .form
    .loc-text{
        font-size: 18px;
    }
}
@media(max-width:335px){
    .logo-div a{
        display: none;
    }
    .bar{
        position: fixed;
        top: 10px;
    }
    .wraper,
    .tattoos,
    .faq-wraper,
    .cont-decor,
    .wraper02{
        margin-top: 50px;
    }
    .div01 h3{
        font-size: 40px;
    }
}
